/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Gotham', sans-serif;
  color: hsl(220, 5%, 35%)
}

.image_container {
  overflow: hidden;
}

.image_container img {
  display: block;
  width: 100%;
  height: auto;
}

.left_side, .right_side {
  display: inline-flex;
}

.content {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
}

/*

.wide {
  max-width: 1400px;
}

*/


h1,h2,h3 {
  font-family: 'Open sans';
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

.grey-background {
  background-color: hsl(220, 10%, 95%);
}

@media only screen and (max-width: 1000px) {

  html {
    font-size: 13px;
  }

  .content {
    margin: 0 1rem;
  }
}


/* Header */

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  color: hsl(220, 100%, 30%);
}

.logo {
  display: flex;
  align-items: center;
}

#colmar_logo {
  display: inline-flex;
  height: 2rem;
}

#logo_name {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}

#logo_name strong {
  font-weight: 700;
}

.logo span strong{
  margin-right: 2px;
}

nav {
  display: inline-flex;
  align-items: center;
  padding-right: 16px;
}

nav span a {
  font-size: 1.25rem;
  padding: 12px 8px;
  color: inherit;
}

nav span a:hover {
  color: hsl(220, 100%, 100%);
  background-color: hsl(220, 20%, 80%);
}

nav span a:active {
  background-color: hsl(220, 80%, 60%);
  opacity: .9;
}

/* Jumbotron */

.jumbotron {
}

.jumbotron .image_container {
  width: 60%;
  padding: 2rem 1.5rem;

}

.jumbotron .right_side {
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}

.jumbotron .right_side .text {
}

.jumbotron .right_side .text h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.jumbotron .right_side .text p {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-bottom: 1rem;
  max-width: 480px;
}

.jumbotron .right_side .button {
  text-align: center;
  padding: 1rem 0px;
  background-color: hsl(220, 50%, 30%);
  color: white;
  width: 70%;
  font-size: 1.25rem;
  transition: background-color 100ms ease-out, opacity 100ms ease-out; */
}

.jumbotron .right_side .button:active {
  background-color: hsl(220, 80%, 60%);
  opacity: .9;
}

/* campus section */

#campus .content {

}

#campus .left_side {
  width: 60%;
  padding: 32px 24px;
  border-right: 2px solid hsl(220, 10%, 95%);
  flex-direction: column;
}

#campus .left_side .image_container {
  width:100%;
}

#campus .left_side h1 {
  margin: 32px 0 24px 0;
}

#campus .left_side p {
  margin: 1rem 10% 0 0;
}

#campus .left_side .quote {
  font-size: 1.25rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 0;
}

#campus .right_side {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.event {
  display: flex;
  margin: 1px 0;
  border-width: 1px 0 1px 0;
  border-color: hsl(220, 10%, 95%);
  border-style: solid;
}

.event .image_container {
  width: 35%;
  margin: 1rem;
}


.event .text {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  margin: .5rem 0;
  flex-shrink: .25;
}

.event .text p,h3{
  margin: .5rem 0;
}

.read_more {
  font-weight: 500;
  color: hsl(220, 68%, 40%);
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {

  .event .image_container {
      margin: auto 1rem;
  }

}
